<div>
  <mat-chip-list> <!--so all can come in one line, TODO: do it properly with CSS-->

  <mat-checkbox
    (change)='onFlagChange()'
    color='primary'
    [(ngModel)]='gflag'>
    Global matches (g)
  </mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;
  <mat-checkbox
    (change)='onFlagChange()'
    color='primary'
    [(ngModel)]='iflag'>
    Case insensitive (i)
  </mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;

  <!--<mat-checkbox-->
    <!--(change)='onFlagChange()'-->
    <!--color='primary'-->
    <!--[(ngModel)]='mflag'>-->
    <!--^$ match at line breaks (m)-->
  <!--</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;-->

  <!--<mat-checkbox-->
    <!--(change)='onFlagChange()'-->
    <!--color='primary'-->
    <!--[(ngModel)]='sflag'>-->
    <!--Dot matches all (s)-->
  <!--</mat-checkbox>-->

   <!--lets put chip for showing number of matches here-->
    <mat-chip [ngClass]="{error:matchCount==-1,matches:matchCount!=-1}">{{matchMessage()}}</mat-chip>
  </mat-chip-list>
</div>
