
.example-card {
  max-width: 100%;
  margin:5em 3em 1.5em 3em;
  font-family: 'Comfortaa', cursive, "DejaVu Sans";
}


@media screen and (max-width: 620px) {
  .example-card{
    margin:5em 1.5em 1em 1.5em;

  }
}

@media screen and (max-width: 420px) {
  .example-card{
    margin:7em 0em 1em 0em;
  }
}

footer{
  text-align: center;
  font-family: 'Comfortaa', cursive, "DejaVu Sans";
}

footer>a{
  text-decoration: none;
  color:#4e2ab6;
  font-weight: bold;
}
