<div class="ap-body-class">
  <mat-card class="ap-card ap-content-card">
    <mat-card-content>
      <form class="example-form">
        <app-flag-field></app-flag-field>
        <app-regex-field></app-regex-field>
        <app-text-field></app-text-field>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card class="ap-card ap-about-card">
    <mat-card-content>
      <app-contributors-field></app-contributors-field>
    </mat-card-content>
  </mat-card>
</div>
<footer>
   <mat-card class="ap-card ap-content-card">
    <mat-card-content>
  Designed and Developed by <a href="//ashish.live" target="_blank">Ashish&nbsp;Patel,</a> nothing reserved ; )
    </mat-card-content>
  </mat-card>

</footer>
