
.ap-card {
  max-width: 100%;
  margin:5em 0em 1.5em 0em;
  font-family: 'Comfortaa', cursive, "DejaVu Sans";
}
.ap-content-card {
  flex-basis: 60%;
  /*margin:5em 0em 1.5em 3em;*/
}
.ap-about-card {
  flex-basis: 25%;
  /*margin:5em 3em 1.5em 0em;*/
}
.ap-footer-card{
  margin:0em 0em 0em 0em;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
}

.ap-body-class{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
}

@media screen and (max-width: 920px) {
  .ap-card{
    margin:5em 1.5em 1em 0.5em;
  }
  .ap-content-card{
    flex-basis:100%;
    /*margin-bottom: 0em;*/
  }
  .ap-about-card{
    flex-basis: 100%;
    margin-top:0em;
  }
  .ap-footer-card{
  margin:0em 0em 0em 0em;
}
}
@media screen and (max-width: 420px) {
  .ap-card{
    margin:5em 0em 1em 0em;
  }
    .ap-content-card{
    flex-basis:100%;
  }
  .ap-about-card{
    flex-basis: 100%;
    margin-top:0em;
  }
.ap-footer-card{
  margin:0em 0em 0em 0em;
}
}

footer{
  text-align: center;
  font-family: 'Comfortaa', cursive, "DejaVu Sans";
}

footer a{
  text-decoration: none;
  color:#4e2ab6;
}
