.ap-icon {
  padding: 0 14px;
}

.ap-toolbar{
  position: absolute;
  top:0px;
  right:0px;
  left:0px;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.ap-toolbar-row{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
}

.ap-menu{
  display:flex;
  flex-wrap: wrap;
}

.site-logo{
  height: 1.5em;
  margin-top: 0.8em;
}
@media (max-width:400px){
  .site-logo{
    margin-left: -0.5em;
  }
}

.button{
  font-family: 'Comfortaa', cursive, "DejaVu Sans";
}
