<mat-toolbar color="primary" class="example-toolbar">
  <mat-toolbar-row class="example-toolbar-row">
    <a href="/"><img src="../../assets/images/regexlogo.png" class="site-logo"></a>
    <div class="example-menu">
      <!--<a class="button" mat-button>About</a>-->
      <a class="button"
         href="//github.com/ashishpatel0720/regexguru"
         target="_blank"
         mat-button>
        <img src="../../assets/images/github-circle.png">
        Github
      </a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
