<mat-toolbar color="primary" class="ap-toolbar">
  <mat-toolbar-row class="ap-toolbar-row">
    <a href="/"><img src="../../assets/images/regexlogo.png" class="site-logo"></a>
    <div class="ap-menu">
      <!--<a class="button" mat-button>About</a>-->
      <!--<a class="button"-->
      <!--href="//github.com/ashishpatel0720/regexguru"-->
      <!--target="_blank"-->
      <!--mat-button>-->
      <!--<img src="../../assets/images/github-circle.png">-->
      <!--Github-->
      <!--</a>-->
      <!-- Place this tag where you want the button to render. -->
      <!-- Place this tag where you want the button to render. -->
      <a class="github-button" href="https://github.com/regexplore/regexplore" data-size="large"
         data-show-count="true" aria-label="Star regexplore/regexplore on GitHub">stars</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
