
.example-full-width {
  width: 100%;
}

/* highlighting solution is from
    http://jsfiddle.net/ashishpatel0720/v18cje1w/

 but need to be done
      encapsulation:ViewEncapsulation.None
 otherwise not working, or we have to put style inside BodyComponent
 */
 #textarea {
  width: 100%;
  font-size: 1.5em;
  font-family: 'Comfortaa', cursive, "DejaVu Sans";
 
}


span.cm-match1 {
  background: #b9d8f5;

}
span.cm-match2 {
  background: #f4d15e;
}

/* changing font-inside #textarea, not working with the id */
.CodeMirror pre {
  font-family: 'Comfortaa', cursive, "DejaVu Sans";
}
.CodeMirror{
  border:1px rgb(78,42,182) solid;
  min-height: 477px;
  padding: 2px;
  line-height: 29px;
}
@media screen and (max-width: 420px) {
    .CodeMirror{
      min-height: 440px;
    }
  }