
.example-full-width {
  width: 100%;
}

/* highlighting solution is from
    http://jsfiddle.net/ashishpatel0720/v18cje1w/

 but need to be done
      encapsulation:ViewEncapsulation.None
 otherwise not working, or we have to put style inside BodyComponent
 */
.highlighter, #textid {
  width: 100%;
  height: 300px;
  font-size: 1.5em;
  font-family: 'Comfortaa', cursive, "DejaVu Sans";
}

.highlighter {
  position: absolute;
  color: white;
}

span.cm-match1 {
  background: #b9d8f5;

}
span.cm-match2 {
  background: #f4d15e;
}

#textid {
  position: relative;
  background-color: transparent;
}
