
.example-full-width {
  width: 100%;
}

/* highlighting solution is from
    http://jsfiddle.net/ashishpatel0720/v18cje1w/

 but need to be done
      encapsulation:ViewEncapsulation.None
 otherwise not working, or we have to put style inside BodyComponent
 */
.highlighter, #textid {
  width: 400px;
  height: 300px;
  font-size: 1.5em;
  font-family: 'Comfortaa', cursive, "DejaVu Sans";
}

.highlighter {
  position: absolute;
  padding: 1px;
  margin-left: 1px;
  color: white;
}

.highlighter>span {
  background: #b9d8f5;
  color: #b9d8f5;

}

#textid {
  position: relative;
  background-color: transparent;
}

