<!--<mat-form-field class="example-full-width">-->
<!--<div class="highlighter"  #styleText></div>-->
<!--<textarea matInput-->
<!--placeholder="enter your text here"-->
<!--[(ngModel)]="textInput"-->
<!--rows="10" (keyup)="onKeyup()"-->
<!--id="textid">-->
<!--</textarea>-->
<!--</mat-form-field>-->
<ngx-codemirror [(ngModel)]="textInput" class="example-full-width"
                (keyup)="onKeyup()"
                id="textid"
                [options]="codemirrorOptions"
></ngx-codemirror>

<!--<div id="textarea"-->
<!--[(ngModel)]="textInput" class="example-full-width"-->
<!--(keyup)="onKeyup()">-->
<!--</div>-->

